
<!DOCTYPE html>
<html>#Create simple Form for flask app
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<form action="/submit" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <input type="submit" value="Submit">
</form>

<button type="button" onclick="window.location.href='/requirements'">Check requirements.txt</button>
<button type="button" onclick="window.location.href='/employees'">List Employees</button>
<button type="button" onclick="window.location.href='/add_employee_form'">Add Employee</button>
<button onclick="window.location.href='/logout'"> Logout</button>

</html>